<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="3" parallel="tests" name="Suite">
  <test thread-count="3" parallel="tests" name="Test">
    <classes>
      <class name="com.KanchanPractce.InvocationCountTest"/>
      <class name="com.KanchanPractce.TestngFeatures"/>
      <class name="com.KanchanPractce.GoogleTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
